@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #16181c;
  --foreground: #fffafb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #16181c;
    --foreground: #fffafb;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-manrope), sans-serif;
}

@layer utilities {
  .gradient-highlight {
    background: radial-gradient(
      350px at 50% 50%,
      rgba(255, 255, 255, 0.25) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  .backdrop-fade {
    background: linear-gradient(
        90deg,
        #16181c 0,
        rgba(22, 24, 28, 0.986) 0.97%,
        rgba(22, 24, 28, 0.945) 2.07833333%,
        rgba(22, 24, 28, 0.883) 3.29666667%,
        rgba(22, 24, 28, 0.803) 4.60166667%,
        rgba(22, 24, 28, 0.711) 5.96666667%,
        rgba(22, 24, 28, 0.61) 7.365%,
        rgba(22, 24, 28, 0.504) 8.77166667%,
        rgba(22, 24, 28, 0.398) 10.16%,
        rgba(22, 24, 28, 0.296) 11.505%,
        rgba(22, 24, 28, 0.203) 12.78%,
        rgba(22, 24, 28, 0.122) 13.95833333%,
        rgba(22, 24, 28, 0.059) 15.01666667%,
        rgba(22, 24, 28, 0.016) 15.92833333%,
        rgba(22, 24, 28, 0) 16.66666667%,
        rgba(22, 24, 28, 0) 83.33333333%,
        rgba(22, 24, 28, 0.016) 84.07166667%,
        rgba(22, 24, 28, 0.059) 84.98333333%,
        rgba(22, 24, 28, 0.122) 86.04166667%,
        rgba(22, 24, 28, 0.203) 87.22%,
        rgba(22, 24, 28, 0.296) 88.495%,
        rgba(22, 24, 28, 0.398) 89.84%,
        rgba(22, 24, 28, 0.504) 91.22833333%,
        rgba(22, 24, 28, 0.61) 92.635%,
        rgba(22, 24, 28, 0.711) 94.03333333%,
        rgba(22, 24, 28, 0.803) 95.39833333%,
        rgba(22, 24, 28, 0.883) 96.70333333%,
        rgba(22, 24, 28, 0.945) 97.92166667%,
        rgba(22, 24, 28, 0.996) 100%,
        #181a1e
      ),
      linear-gradient(
        0deg,
        #16181c 0,
        #16181c 16.48148148%,
        rgba(22, 24, 28, 0.986) 18.63703704%,
        rgba(22, 24, 28, 0.945) 21.1%,
        rgba(22, 24, 28, 0.883) 23.80740741%,
        rgba(22, 24, 28, 0.803) 26.70740741%,
        rgba(22, 24, 28, 0.711) 29.74074074%,
        rgba(22, 24, 28, 0.61) 32.84814815%,
        rgba(22, 24, 28, 0.504) 35.97407407%,
        rgba(22, 24, 28, 0.398) 39.05925926%,
        rgba(22, 24, 28, 0.296) 42.04814815%,
        rgba(22, 24, 28, 0.203) 44.88148148%,
        rgba(22, 24, 28, 0.122) 47.5%,
        rgba(22, 24, 28, 0.059) 49.85185185%,
        rgba(22, 24, 28, 0.016) 51.87777778%,
        rgba(22, 24, 28, 0) 53.51851852%
      );
  }

  .textured-dark {
    background:
      linear-gradient(rgb(37, 38, 43), rgb(37, 38, 43)) padding-box padding-box,
      conic-gradient(
          from 180deg at 50% 50%,
          rgba(255, 255, 255, 0.04) -30.67deg,
          rgba(255, 255, 255, 0) 12.67deg,
          rgba(255, 255, 255, 0.01) 53.65deg,
          rgba(255, 255, 255, 0.05) 158.48deg,
          rgba(255, 255, 255, 0.11) 225.01deg,
          rgba(255, 255, 255, 0.02) 304.51deg,
          rgba(255, 255, 255, 0.04) 329.33deg,
          rgba(255, 255, 255, 0) 372.67deg
        )
        border-box border-box;
  }

  .highlight-border {
    background:
      linear-gradient(rgb(23, 24, 28), rgb(23, 24, 28)) padding-box padding-box,
      linear-gradient(
          300deg,
          rgba(198, 198, 198, 0.5) 0%,
          rgba(27, 27, 27, 0.5) 100%
        )
        padding-box padding-box,
      linear-gradient(
          35deg,
          rgba(198, 198, 198, 0.3) 0%,
          rgba(27, 27, 27, 0.35) 100%
        )
        border-box border-box;
  }

  .shadow-small {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 2px;
  }
}

@layer components {
  .auth-input {
    @apply w-80 rounded-full bg-white/[0.01] py-3 pl-6 pr-3 text-sm font-medium outline-none ring-1 ring-white/10 placeholder:font-medium placeholder:text-white/25;
  }
}
