{
  "plugins": [
    "prettier-plugin-tailwindcss",
    "@ianvs/prettier-plugin-sort-imports"
  ],
  "importOrder": [
    "<TYPES>^(node:)",
    "<TYPES>",
    "<TYPES>^[.]",
    "",
    "^react$|react-dom$",
    "",
    "<THIRD_PARTY_MODULES>",
    "",
    "^(@api|@assets|@ui)(/.*)$",
    "",
    "@/components",
    "@/features",
    "^[.]",
    "",
    "^(?!.*[.]css$)[./].*$",
    ".css$"
  ]
}
